 /*========================================
 *              Notification Bar 
 ==========================================*/
 
#wnb-bar {
    padding-top: 10px;
    padding-bottom: 5px;
}

span.wnb-bar-button {
    font-size: 9px;
    font-weight: strong;
    padding: 5px 10px;
}

#wnb-bar, span.wnb-bar-button {
    font-family: "Open Sans", sans-serif;
}
